# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Images planètes (temporaire)
/home/alicia/WCS/projet-2-StarTreker/frontend/src/assets/Aquatic/*
/home/alicia/WCS/projet-2-StarTreker/frontend/src/assets/Arrid/*
/home/alicia/WCS/projet-2-StarTreker/frontend/src/assets/Earth-Like/*
/home/alicia/WCS/projet-2-StarTreker/frontend/src/assets/Gas-Giant/*
/home/alicia/WCS/projet-2-StarTreker/frontend/src/assets/Hot-Arrid/*