.bg {
  background-color: black;
  height: 100vh;
  min-width: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: -50%;
  position: fixed;
}

.planetsPage {
  // background-color: var(--color-main);
  color: var(--color-secondary);
  text-align: center;
  font-family: var(--text-font);
  margin: auto;
  height: 100%;
  width: 100%;

  section {
    max-width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // grid-template-columns: repeat(2, 1fr);
    // gap: 1rem;
    // grid-auto-rows: clamp(150px, 100%, 400px);
  }
}
@media screen and (min-width: 768px) {
  .bg {
    left: 0;
  }
}
