@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

.card {
  $card-padding: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  width: clamp(150px, 100%, 375px);
  height: clamp(150px, 100%, 400px);
  cursor: pointer;
  z-index: 3;

  .panel1 {
    width: 100%;
    min-height: 250px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      clip-path: polygon(
        20% 0,
        80% 0,
        100% 20%,
        100% 80%,
        80% 100%,
        20% 100%,
        0 80%,
        0 20%
      );
      filter: blur(2px);
      background: rgba(122, 251, 255, 0.332);
    }

    .image {
      position: absolute;
      width: calc(100% - $card-padding);
      height: calc(100% - $card-padding);
      top: calc($card-padding / 2);
      left: calc($card-padding / 2);
      clip-path: polygon(
        20% 0,
        80% 0,
        100% 20%,
        100% 80%,
        80% 100%,
        20% 100%,
        0 80%,
        0 20%
      );
      object-fit: cover;
    }
  }

  .title {
    width: 300px;
    position: relative;
    bottom: 5px;
    padding: 10px;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        rgb(75 131 157 / 0%) 1px,
        hsl(234deg 77% 14%) 5px,
        rgb(21 53 68 / 0%) 4px,
        transparent 0.5%
      ),
      repeating-linear-gradient(
        to left,
        hsl(295, 60%, 12%) 100%,
        hsla(295, 61%, 12%, 0.216) 100%
      );
    clip-path: polygon(
      20% 0,
      80% 0,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0 80%,
      0 20%
    );
    animation: backglitch 100ms linear infinite;
    z-index: 10;

    .titlePlanet1 {
      position: relative;
      width: 100%;
      text-align: center;
      font-family: "Orbitron", "sans-serif";
      text-shadow: 2px 2px 0px black;
      animation: pulsate 2s ease-in-out infinite both;
      z-index: 10;
    }
  }
}

.clicked {
  transform: translateX(2000px) scale(0%);
  transition: all 1.5s ease-out;
}
.unclicked {
  transform: translateX(0%) scale(100%);
  transition: all 0.8s ease-out;
}

.infoPlanet {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  top: 100px;
  cursor: pointer;
  z-index: 6;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    clip-path: polygon(
      10% 0,
      0 10%,
      0 100%,
      100% 100%,
      100% 10%,
      90% 0,
      70% 0,
      65% 10%,
      35% 10%,
      30% 0
    );
    backdrop-filter: blur(8px);
    background: rgba(55, 114, 117, 0.582);
  }

  .imgPlanet {
    position: relative;
    padding: 0 10px;
    object-fit: cover;
    width: clamp(300px, 100%, 1140px);
    height: clamp(300px, 100%, 375px);
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }

  .desc {
    position: relative;
    top: 10px;
    padding: 0 10px;
    max-width: 768px;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        rgb(75 131 157 / 0%) 1px,
        hsl(234deg 77% 14%) 5px,
        rgb(21 53 68 / 0%) 4px,
        transparent 0.5%
      ),
      repeating-linear-gradient(
        to left,
        hsl(295, 60%, 12%) 100%,
        hsla(295, 61%, 12%, 0.216) 100%
      );
    animation: backglitch 80ms linear infinite;
    clip-path: polygon(
      10% 0%,
      90% 0%,
      100% 10%,
      100% 90%,
      90% 100%,
      10% 100%,
      0% 90%,
      0% 10%
    );
    z-index: 7;

    .titlePlanet2 {
      margin: 10px 0;
      animation: pulsate 2s ease-in-out infinite both;
      text-decoration: underline;
    }
    .information {
      margin-bottom: 20px;
    }

    .characteristicList {
      border: solid 1px;
      list-style: none;
      margin-bottom: 30px;
      border-radius: 6px;
      animation: pulsateC 2s ease-in-out infinite both;

      .characteristic {
        font-weight: 800;
      }

      .bar {
        width: 80%;
        height: 1px;
        margin: 5px auto;
        border-radius: 25px;
        animation: pulsateB 2s ease-in-out infinite both;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .imgPlanet {
      height: clamp(300px, 100%, 500px);
      margin-top: 40px;
    }
  }

  @media screen and (min-width: 1024px) {
    .imgPlanet {
      height: clamp(300px, 100%, 525px);
      margin-top: 60px;
    }
  }

  @media screen and (min-width: 1440px) {
    .imgPlanet {
      height: clamp(300px, 100%, 540px);
      margin-top: 80px;
    }
  }
  @media screen and (min-width: 1500px) {
    .imgPlanet {
      height: clamp(300px, 100%, 625px);
      margin-top: 120px;
    }
  }
}

.visible {
  transform: translateX(0%) scale(100%);
  transition: all 0.8s ease-out;
}

.hidden {
  transform: translateY(1000px) scale(0%);
  transition: all 1.5s ease-out;
}

@keyframes backglitch {
  0% {
    box-shadow: inset 0px 20px 20px 30px #2125519e;
  }

  50% {
    box-shadow: inset 0px -20px 20px 30px hsl(235deg 53% 24% / 70%);
  }

  100% {
    box-shadow: inset 0px 20px 20px 30px #2125519e;
  }
}

@keyframes pulsate {
  0% {
    color: #ffe600a3;
  }

  50% {
    color: #ffe600cb;
  }

  100% {
    color: #ffe600a3;
  }
}

@keyframes pulsateC {
  0% {
    border-color: #00ffff99;
  }

  50% {
    border-color: #00ffff;
  }

  100% {
    border-color: #00ffff99;
  }
}

@keyframes pulsateB {
  0% {
    background-color: #00ffff99;
  }

  50% {
    background-color: #00ffff;
  }

  100% {
    background-color: #00ffff99;
  }
}
