.bg {
  background-color: black;
  height: 100vh;
  min-width: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: -50%;
  position: fixed;
}

a {
  text-decoration: none;
}

.planetsPage {
  color: var(--color-secondary);
  text-align: center;
  font-family: var(--text-font);
  margin: auto;
  height: 100%;
  width: 100%;

  section {
    max-width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  $card-padding: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  width: clamp(150px, 100%, 375px);
  height: clamp(150px, 100%, 400px);
  cursor: pointer;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .bg {
    left: 0;
  }
}
