.bg {
  background-color: black;
  height: 100vh;
  min-width: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: -50%;
  position: fixed;
}

.planetsPage {
  color: var(--color-secondary);
  text-align: center;
  font-family: var(--text-font);
  margin: auto;
  height: 100%;
  width: 100%;

  section {
    max-width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .bg {
    left: 0;
  }
}
